@import 'vars';
@import 'mixins';

/* Basics */

* {
	@include _box-sizing();
	font-family: $font-family;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1em;
	font-weight: normal;
	&:before, &:after {
		@include _box-sizing();
	}
}

body {
	padding: 10px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.875em;
}

/* /Basics */

/* IE 9 support */

.no-flexbox {
	.user {
		&-summary {
			display: table;
		}

		&-photo, &-main-info {
			display: table-cell;
			vertical-align: middle;
		}

		&-main-info {
			width: 90%;
		}

		&-photo {
			img {
				@include _transform-scale(1.1);
			}
		}

		&-skill {
			&-item {
				display: inline-block;
			}
		}
		&-responsibilities {
			word-spacing: 0;
			letter-spacing : -.36em;
			//display: table;
		}

		&-responsibilities-item {
			letter-spacing: normal;
			display: inline-table;
			vertical-align: top;
			width: 25%;
			border-bottom: 1px solid $user-main-info-color;
			.header {
				font-size: 1em;
			}

			&.aparted {
				border-bottom: 2px solid $user-main-info-color;
				border-collapse: collapse;
				.part {
					display: table-row;
					width: 100%;
				}
			}
		}
	}
}

/* /IE 9 support */

/* Main styles */
.editing {
	background-color: $editing-bg;
	@include _box-shadow(0, 0, 0, 1px, $hover-border-color);
	max-width: $editable-field-width;
	outline: none;
	position: relative;
	z-index: 2;
	.text-area {
		outline: none;
		display: inline-block;
		width: 100%;
	}
	.edit-area {
		display: inline-block;
	}
}

.edit-area {
	position: absolute;
	top: 0;
	right: 6px;
	display: none;
	.edit {
		&-accept, &-decline {
			@include _flexible(inline-flex);
			@include _border-radius(50%);
			background-color: $editing-links-bg-default;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border: 1px solid $editing-links-border-default;
			width: .8em;
			height: .8em;
		}

		&-accept {
			background-image: url("../images/mark-accept.svg");
			background-size: 120%;
		}

		&-decline {
			background-image: url("../images/mark-decline.svg");
			background-size: 50%;
		}
	}
}

.user {

	&-summary {
		@include _flexible(flex);
		@include _align-items();
		@include _justify-content(space-between);
		@include _flex-wrap(wrap);
	}

	&-photo {
		@include _flexible(flex);
		@include _flex-grow(0);
		@include _flex-shrink(0);
		@include _align-items(center);
		@include _justify-content(center);
		@include _flex-basis($item-measure);
		overflow: hidden;
		min-width: 0;

		img {
			@include _flexible(flex);
			@include _flex-basis($item-measure);
		}
	}

	&-main-info {
		@include _flex-grow(2);
		@include _flex-shrink(3);
		background-color: $user-main-info-color;
		padding: 27px 31px 15px 36px;
		position: relative;
	}

	&-page-to-print {
		@include _border-radius(25px);
		background-color: $skill-item-background;
		color: $skill-item-text;
		display: inline-block;
		font-size: $base-font-size;
		padding: 6px 17px 6px;
		position: absolute;
		right: 30px;
		top: 21px;
		text-transform: uppercase;
		text-decoration: none;
	}

	&-main-info-name {
		font-weight: normal;
		margin-bottom: 9px;
		max-width: $editable-field-width;
		.text-area {
			outline: none;
			display: inline-block;
			width: 100%;
		}
		&:hover {
			@include _box-shadow(0, 0, 0, 1px, $hover-border-color);
		}
	}

	&-additional-location, &-additional-languages {
		color: $user-additional-color;
		font-weight: bold;
		margin-bottom: 9px;
		max-width: $editable-field-width;
	}

	&-additional-location {
		.text-area {
			outline: none;
			display: inline-block;
			width: 100%;
		}
		&:hover {
			@include _box-shadow(0, 0, 0, 1px, $hover-border-color);
		}
	}

	&-additional-languages {
		margin-bottom: 21px;
	}

	&-skill {
		&-list {
			@include _flexible(flex);
			@include _flex-wrap(wrap);
			@include _justify-content();
			margin-bottom: 9px;
		}

		&-item {
		   @include _flexible(inline-flex);
		   @include _border-radius(3px);
		   background-color: $skill-item-background;
		   color: $skill-item-text;
		   font-size: $base-font-size;
		   margin-right: 0.5em;
		   padding: 6px 10px 5px;
		   text-transform: uppercase;
		}

	}

	&-add-skills {
		color: $user-additional-color;
		font-size: $base-font-size;
		text-decoration: none;
	}

	&-responsibilities {
		@include _flexible(flex);
		@include _flex-wrap(wrap);
		@include _align-items(stretch);
		border-left: 1px solid $user-main-info-color;
		border-top: 1px solid $user-main-info-color;
	}

	&-responsibilities-item {
		@include _flex-basis($item-measure);
		@include _flex-grow(4);
		@include _align-items(stretch);
		@include _flex-wrap(wrap);
		color: $user-additional-color;
		min-height: $item-measure;
		overflow: hidden;
		box-sizing: border-box;
		border-right: 1px solid $user-main-info-color;
		border-bottom: 1px solid $user-main-info-color;

		.header {
			background-color: $skill-item-text;
			text-align: center;
			padding: 22px 12px 15px 12px;
			min-height: 70px;
		}

		.caption {
			text-align: center;
			font-size: $base-font-size;
		}

		.availability {
			text-align: center;
			font-size: 1.8em;
			font-weight: bold;
		}

		&.sample-code {
			background-repeat: no-repeat;
			background-position: 0% 100%;
			background-size: cover;
			.header {
				background-color: rgba(255,255,255,0.7);
			}
		}

		&.aparted {
			.part {
				height: 50%;
			}
			.header {
				min-height: 50px;
			}
			.caption {
				padding: 0 20px;
			}
			.part:first-child {
				border-bottom: 1px solid $user-main-info-color;
			}
		}

		&.quotation {
			position: relative;
			&:before, &:after {
				color: $big-quotes-color;
				font-size: 10em;
				font-style: normal;
				font-family: $font-family;
				line-height: 0;
				position: absolute;
			}

			&:before {
				content: '\201C';
				left: 6px;
				top: 107px;
			}
			&:after {
				content: '\201D';
				bottom: -15px;
				right: 10px;
			}
			.quote {
				position: relative;
				.author {
					display: block;
					position: absolute;
					bottom: 0;
					margin-top: 20px;
					clear: both;
					right: 24px;
					font-style: normal;
					font-weight: bold;
					font-size: $base-font-size;
				}
				font-family: $font-family-quotes;
				font-size: $base-font-size;
				font-style: italic;
				padding: 0 20px 20px;
				position: relative;
				z-index: 1;
			}
		}
	}
}

.portfolio {
	&-list {
		padding-left: 26px;
		padding-right: 26px;
	}
	&-list-item {
		display: list-item;
		font-size: $base-font-size;
		list-style-type: disc;
		margin-bottom: 5px;
		&-title {
			font-weight: bold;
		}
	}
}

/* /Main styles */
