$font-family: Arial, Helvetica, sans-serif;
$font-family-quotes: Georgia, serif;
$items: 4;
$big-quotes-color: #ededed;
$layout-width: 960px;
$base-font-size: 0.9em;
$skill-item-background: #000;
$skill-item-text: #fff;
$user-main-info-color: #e6e6e6;
$user-additional-color: #4c4c4c;
$item-measure: ($layout-width - 1)/$items;